<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
  <h1>Add Blog</h1>
    <form action="/blog/create" method="post">
      <label style="display: block" for="title">Title: </label>
      <input style="display: block" type="text" name="title">
      <label style="display: block" for="desc">Description: </label>
      <input style="display: block" type="text" name="desc">
      <label style="display: block" for="date">Date: </label>
      <input style="display: block" type="date" name="date">
      <label style="display: block" for="location">Location: </label>
      <input style="display: block" type="text" name="location">
      <label style="display: block" for="author">Author: </label>
      <input style="display: block" type="text" name="author">
      <button style="display: block" type="submit">Add</button>
    </form>
    <div class="other-actions">
      <form action="/" method="get">
        <button type="submit">View API</button>
      </form>
      <form action="/blogs/manage" method="get">
        <button type="submit">Manage</button>
      </form>
    </div>
</body>
</html>